In [26]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
df=pd.read_csv("expectedsalary3.csv")
df

,experience,comm_skill,tech_skill,ready to travel,shift,hours,salary,accepted
0,2,9,8,1,1,9,600000,0
1,5,8,9,0,1,9,1400000,1
2,3,7,5,1,1,9,800000,1
3,1,5,7,1,1,8,400000,1
4,7,4,8,0,0,8,1000000,0
5,8,8,4,1,0,8,1300000,1
6,4,9,7,1,1,9,700000,0
7,4,7,5,0,1,9,1000000,1

In [28]:
from sklearn.model_selection import train_test_split

In [32]:
#train_test_split(df[['age']],df.brought_insurance,test_size=0.1)
x_train,x_test,y_train,y_test=train_test_split(df[['experience','comm_skill','tech_skill','ready to travel','shift','hours','salary']],df.accepted,test_size=0.15)

In [34]:
x_test

   experience  comm_skill  tech_skill  ready to travel  shift  hours   salary
1           5           8           9                0      1      9  1400000
5           8           8           4                1      0      8  1300000

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
model=LogisticRegression()
model=LogisticRegression(solver='liblinear')
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:
model.predict(x_test)

array([1, 1], dtype=int64)

In [41]:
model.score(x_test,y_test)

1.0

In [42]:
y_test

1    1
5    1
Name: accepted, dtype: int64

In [43]:
model.predict_proba(x_test)

array([[0.36717428, 0.63282572],
       [0.35803318, 0.64196682]])

In [45]:
model.predict([[2,9,8,0,1,9,700000]])

array([0], dtype=int64)

In [48]:
model.predict_proba(x_test)

array([[0.36717428, 0.63282572],
       [0.35803318, 0.64196682]])